body {
	background-color: #F5E59F;
	text-align: center;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px auto;
  border: 1px dotted black;
}

th {
  text-align: left;
}

ul {
	margin: 10px auto;
	list-style-type: none;
	text-align: left;
}

li {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

.error {
	color: red;
	text-align: center;
}

