<a href="/notes/new"><h1>Create New Note</h1></a>
<br>
<h2>All Notes</h2>

<div class="container">
	<ul>
	  <% @note.each do |note| %>
	    <li><a href="/notes/<%= note.id %>"><%= note.title %>: <%= note.content %></a></li>
	  <% end %>
	</ul>
</div>